@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #ffffff;
}

.search-container {
  text-align: center;
  margin: 20px;
}

form {
  display: inline-block;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  width: 272px;
  height: 23px;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;
  border-color: #808080;
  transition: border-color 0.3s, background-color 0.3s;
}
input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #4e75ff;
}

button {
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

#loading-indicator {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #2e2f42;
}

.hidden {
  display: none;
}

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 156px 108px;
}

.gallery-item {
  width: calc(33.33% - 8px);
  margin-bottom: 16px;
}

.gallery-item img {
  max-width: 320px;
  object-fit: cover;
  border-radius: 4px;
}

#end-of-collection {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #2e2f42;
  margin-top: 20px;
}

#load-more {
  width: 150px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 20px;
}

#load-more:hover {
  background-color: #6c8cff;
}
